
body{
	background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(pic7.png);
	height: 100vh;
    width: 100%;
	background-size: cover;
	background-position: center;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 100%;
}
h1{
    color: beige;
    font-family: fantasy;
    font-size: 57px;
    
}
p{
    color: beige;
    font-family: inherit;
    font-size: 20px;
    line-height: 15px;
}
button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    perspective-origin: center;
    background-position: center;
}